				<div class="chatPrivate_body">
					<table class="chatPrivate_table chatPrivate_bar-atas">
						<tr>
							<td class="tengah">
								<span class="chatPrivate_bar-judul-home" ng-class="class_bar_judul_home">
									<img src="back.png" class="bar_kiri" ng-click="keChicchat()"/>
									<span>{{ ambilNamaUser(pesan.usernamePengirim) }}</span>
									<img src="tdw.png" class="bar_kanan" ng-click="opsi()"/>
								</span>
							</td>
						</tr>
					</table>
					<div class="chatPrivate_bar_opsi">
						<div class="opsi">
							<img src="image/album.png" class="album"/><br/>
							<span>Album</span>
						</div>
						<div class="opsi">
							<img src="image/mute.png" /><br/>
							<span>Mute</span>
						</div>
						<div class="opsi">
							<img src="image/block.png" /><br/>
							<span>Unblock</span>
						</div>
						<div class="opsi">
							<img src="image/Invite to.png" /><br/>
							<span>Invite to</span>
						</div>
					</div>
					<div class="chatPrivate_data_chat_factory" ng-repeat="pesan in dataPesan">
						<!--
						<table>
							<tr class="data_chat">
								<td class="read_waktu_kiri">
									<span class="read">Read</span><br/>
									<span class="waktu">20:30</span>
								</td>
								<td class="teks teks_kiri">
									wkwkwkwkwkchattest.hahaha....??/what12356789!@123851239^42939((@)@(!!!@{}{}))	
								</td>
							</tr>
						</table>
						-->
						<table>
							<tr class="data_chat">
								<td class="img">
									<img src="{{ ambilGambarUser(pesan.usernamePengirim) }}">
								</td>
								<td class="teks teks_kanan">
									{{ pesan.isiPesan.stub }}
								</td>
								<td class="read_waktu_kanan">
									<span class="waktu">{{ pesan.tanggal }}</span>
								</td>
							</tr>
						</table>
					</div>
					<!--
					<div class="chatPrivate_blocked">You've been blocked</div>
					-->
					<table class="chatPrivate_bar_bawah">
						<tr class="input_pesan">
							<td class="img">
								<img src="image/plus.png">
								<img src="image/emoticon_2.png">
							</td>
							<td class="input">
								<input type="text"/>	
							</td>
							<td class="kirim">
								<img src="image/Verifikasi_03.png">
							</td>
						</div>
					</div>
				</div>