<style type="text/css">
	@font-face {
	    font-family: 'chicchat_montserrat';
	    src: url(res/font/Montserrat-Regular.otf);
	}
	@font-face {
	    font-family: 'chicchat_montserrat-thin';
	    src: url(res/font/Montserrat-Light.otf);
	}


	input:focus{
		outline: none;
	}
	
	.chicchat_body{
		font-family: 'chicchat_montserrat-thin';
		width: 100vw;
		padding: 0;
		margin: 0;
		background: #EEE;
		padding-top: 12vmin;
	}

	.chicchat_table{
		width: 100vw;
		border-collapse: collapse;
	}

	tr, td{
		padding: 0;
		margin: 0;
	}

	.rataKiri{
		text-align: left;
	}

	.rataKanan{
		text-align: right;
	}

	.rataTengah{
		text-align: center;
	}

	.rataTengahV{
		vertical-align: middle;
	}

	.rataAtasV{
		vertical-align: top;
	}

	.rataBawahV{
		vertical-align: bottom;
	}



	/* REFRESH */
	.chicchat_refresh{
		background: #CCC;
		padding: 20vmin;
		width: calc(100% - 2 * 20vmin);
		text-align: center;
	}


	.chicchat_fake-bar{
		background: #CCC;
		height: 15vmin;
	}





	/* SEARCH */
	.chicchat_search{
		width: calc(100% - 2 * 4%);
		padding: 4% 4% 2% 4%;
		background: #FFF;
	}

	.chicchat_search img{
		width: 4%;
		padding: 0 3% 0 0;
	}

	.chicchat_search input[type="text"]{
		border: none;
		width: calc(100% - (4% + 3% + 4% + 4%));
		font-size: 4vmin;
	}





	/* NETWORKING BAR */
	.chicchat_networking_bar{
		width: calc(100% - 2 * 4%);
		padding: 4%;
		background: #FFF;
	}

	.chicchat_networking_bar img{
		width: 4%;
		padding: 0 3% 0 0;
	}

	.chicchat_networking_bar span{
		font-weight: bold;
		font-size: 3vmin;
	}




	/* NETWORKING LIST */
	.chicchat_networking_list{
		width: 100%;
		background: #FFF;
		padding-bottom: 4%;
	}

	.chicchat_networking_list .group{
		width: calc(100% - 2 * 4% - (4% + 3.5%));
		padding: 2%;
		padding-left: calc(4% + 4% + 3.5%);
		font-size: 3vmin;
	}

	.chicchat_networking_list .group .judul{
		color: #616161;
		width: 100%;
	}

	.chicchat_networking_list .group .judul-show{
		color: #dd2267;
		width: 100%;
	}

	.chicchat_networking_list .group .judul img{
		width: 3%;
		float: right;
		padding-right: 8%;
	}

	.chicchat_networking_list .group .list_factory_hide{
		display: none;
		width: 100%;
	}

	.chicchat_networking_list .group .list_factory_show{
		display: block;
		width: 100%;
	}

	.chicchat_networking_list .group .list_factory_show .list{
		display: table;
		width: 100%;
		padding-top: 2.5%;
	}

	.chicchat_networking_list .group .list_factory_show .list .span:active{
		background-color: #EEE;
	}

	.chicchat_networking_list .group .list_factory_show .list .img{
		display: table-cell;
		width: 10%;
	}

	.chicchat_networking_list .group .list_factory_show .list .img img{
		width: 100%;
		border-radius: 50%;
	}

	.chicchat_networking_list .group .list_factory_show .list .span{
		display: table-cell;
		vertical-align: middle;
		padding-left: 5%;
	}





	/* CHATS BAR */
	.chicchat_chats_bar{
		margin-top: 1.5%;
		width: calc(100% - 2 * 4%);
		padding: 4%;
		background: #FFF;
	}

	.chicchat_chats_bar img{
		width: 4%;
		padding: 0 2% 0 0;
	}

	.chicchat_chats_bar span{
		font-weight: bold;
		font-size: 3vmin;
	}






	/* CHATS LIST */
	.chicchat_chats_list{
		width: 100%;
	}

	.chicchat_chats_list .chat{
		margin-bottom: 1.5%;
		background: #FFF;
		width: calc(100% - 2 * 3%);
		padding: 3%;
		display: table;
		font-size: 3vmin;
	}

	.chicchat_chats_list .chat:active{
		background: #F2F2F2;
	}

	.chicchat_chats_list .chat .img{
		display: table-cell;
		width: 12%;
		vertical-align: middle;
	}

	.chicchat_chats_list .chat .img img{
		width: 100%;
		border-radius: 50%;
	}

	.chicchat_chats_list .chat .nama_summary{
		display: table-cell;
		width: 73%;
		padding-left: 3%;
		vertical-align: middle;
	}

	.chicchat_chats_list .chat .nama_summary .nama{
		font-weight: bold;
	}

	.chicchat_chats_list .chat .time_notif{
		display: table-cell;
		width: 15%;
		vertical-align: middle;
		text-align: right;
	}

	.chicchat_chats_list .chat .time_notif .time{
		font-size: 2.5vmin;
		padding-bottom: 5%;
	}

	.chicchat_chats_list .chat .time_notif .notif{
		float: right;
		color: #FFF;
		border-radius: 5vmin;
		min-width: 30%;
		padding: 4%;
		text-align: center;
		background: #4CAF50;
	}	
</style>
<div ng-class="chicchat_loading">
	<div class='uil-ripple-css' style='transform:scale(0.53);'><div></div><div></div></div>	
</div>
<div class="chicchat_body">
	<div class="chicchat_refresh" id="chicchat_refresh" hidden>
		Refreshing...
	</div>
	<!-- <div class="chicchat_fake-bar"></div> -->
	<div class="chicchat_search">
		<img src="img/search.png">
		<input type="text" placeholder="Search" />
	</div>
	<div id="chicchat_top" class="chicchat_networking_bar">
		<img src="img/networking.png">
		<span>Networking</span>
	</div>
	<div class="chicchat_networking_list">
		<div class="group">
			<div class="judul" ng-class="class_judul_chat_group" ng-click="showGroup()">
				<span>
					Group <span class="total_group">({{dataChat.group.members.length}})</span>
				</span>
				<img src="{{img_group}}">
			</div>
			<div ng-class="class_list_factory_group" ng-repeat="member in dataChat.group.members">
				<div class="list">
					<div class="img">
						<img src="{{member.foto}}" />	
					</div>
					<div class="span" ng-click="keGroupChat(member)">
						<span>{{member.nama}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="group">
			<div class="judul" ng-class="class_judul_chat_group_invitation" ng-click="showGroupInvitation()">
				<span>
					Group Invitation <span class="total_group">({{dataChat.groupInvitation.members.length}})</span>
				</span>
				<img src="{{img_group_invitation}}">
			</div>
			<div ng-class="class_list_factory_group_invitation" ng-repeat="member in dataChat.groupInvitation.members">
				<div class="list">
					<div class="img">
						<img src="{{member.foto}}" />
					</div>
					<div class="span" ng-click="keGroupInvitationChat(member)">
						<span>{{member.nama}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="group">
			<div class="judul" ng-class="class_judul_chat_friend" ng-click="showFriend()">
				<span>
					Friends <span class="total_group">({{dataChat.friend.members.length}})</span>
				</span>
				<img src="{{img_friend}}">
			</div>
			<div ng-class="class_list_factory_friend" ng-repeat="member in dataChat.friend.members">
				<div class="list">
					<div class="img">
						<img src="{{member.foto}}" />	
					</div>
					<div class="span" ng-click="keFriendChat(member)">
						<span>{{member.nama}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="chicchat_chats_bar">
		<img src="img/lips_full.png">
		<span>Chats</span>
	</div>
	<div class="chicchat_chats_list" ng-repeat="pesan in dataPesan">
		<div class="chat" ng-click="bukaPesan(pesan)">
			<div class="img">
				<img src="{{ pesan.gambar }}">
			</div>
			<div class="nama_summary">
				<div class="nama">
					{{ ambilNamaUser(pesan.nama) }}
				</div>
				<div class="summary">
					{{ ambilSummaryPesan(pesan.isiPesan) }}
				</div>
			</div>
			<div class="time_notif">
				<div class="time">
					{{ ambilWaktuPesan(pesan.tanggal) }}
				</div>
				<div class="notif" ng-if="pesan.nPesanBelumDibaca > 0">
					{{ pesan.nPesanBelumDibaca }}
				</div>
			</div>
		</div>
	</div>
	<!-- <div ng-repeat="pesan in dataPesan">
	</div> -->
	<div scroll style="padding: 20vmin">LOADING</div>
</div>