<style type="text/css">	
	@font-face {
	    font-family: 'timeline_montserrat';
	    src: url(res/font/Montserrat-Regular.otf);
	}
	@font-face {
	    font-family: 'timeline_montserrat-thin';
	    src: url(res/font/Montserrat-Light.otf);
	}


	input:focus{
		outline: none;
	}
	.timeline_body{
		font-family: 'timeline_montserrat-thin';
		width: 100vw;
		padding: 0;
		margin: 0;
		background: #EEE;
		padding-top: 12vmin;
		font-size: 3vmin;
	}

	.timeline_refresh{
		background: #CCC;
		padding: 20vmin;
		width: calc(100% - 2 * 20vmin);
		text-align: center;
	}

	.timeline_table{
		width: 100vw;
		border-collapse: collapse;
	}

	tr, td{
		padding: 0;
		margin: 0;
	}

	.rataKiri{
		text-align: left;
	}

	.rataKanan{
		text-align: right;
	}

	.rataTengah{
		text-align: center;
	}

	.rataTengahV{
		vertical-align: middle;
	}

	.rataAtasV{
		vertical-align: top;
	}

	.rataBawahV{
		vertical-align: bottom;
	}

	.t_timeline_table{
		margin-bottom: 2vmin;
		background: #FFF;
		font-size: 3vmin;
	}

	.t_timeline_table_gambarpp{
		width: 10vmin;
		height: 10vmin;
		padding-left: 4vmin;
		padding-top: 4vmin;
	}

	.t_timeline_table_gambarpp img{
		width: 10vmin;
		height: 10vmin;
		border-radius: 50%;
	}

	.t_timeline_table_nama{
		width: calc(50vw - 10vmin);
		padding-top: 4vmin;
		padding-left: 2vmin;
	}

	.t_timeline_table_nama .nama{
		font-weight: bold;
	}

	.t_timeline_table_nama .jumlah_anggota{
		font-weight: bold;
		color: #dd2267;
	}

	.t_timeline_table_nama .jumlah_anggota img{
		height: 2.7vmin;
		padding-right: 1.5vmin;
	}

	.t_timeline_table_forum_post{
		width: calc(100vw - 8vmin);
		padding: 2vmin 4vmin;
	}

	.t_timeline_table_waktu{
		width: calc(50vw - 10vmin + 4vmin);
		padding-top: 4vmin;
	}

	.t_timeline_table_opsiforum_post{
		width: 10vmin;
		padding-top: 4vmin;
		padding-right: 4vmin;
	}

	.t_timeline_table_opsiforum_post img{
		height: 6vmin;
	}

	.t_timeline_table_forum_post_gbr{
		width: 100vw;
	}

	.t_timeline_table_forum_post_gbr img{
		width: 100vw;
	}

	.t_timeline_table_forum_post_tambah_komentar{
		padding: 1vmin 4vmin;
		padding-top: 4vmin;
		padding-bottom: 4vmin;
		text-align: center;
		font-weight: bold;
		color: #dd2267;
		font-size: calc(1.3 * 3vmin);
	}
</style>

<div class="timeline_body">
	<div ng-repeat="forum_post in dataForum">
		<!-- ZZZ -->
		<table class="timeline_table t_timeline_table">
			<tr>
				<td class="t_timeline_table_gambarpp">
					<img src="{{forum_post.user.fotoProfil}}">
				</td>
				<td class="rataTengahV t_timeline_table_nama">
					<div class="nama">
						{{forum_post.user.nama}}
					</div>
					<div class="jumlah_anggota">
						<img src="img/username_Grey_fix.png">{{forum_post.jumlahAnggota}}
					</div>
				</td>
				<td class="rataKanan rataTengahV t_timeline_table_waktu">
					<div class="jam">
						
					</div>
					<div class="tanggal">
						
					</div>
				</td>
				<td class="rataKanan t_timeline_table_opsiforum_post">
					<img src="img/td.png">
				</td>
			</tr>
			<tr>
				<td colspan="4" class="rataAtasV t_timeline_table_forum_post">
					{{forum_post.isiforum_post}}
				</td>
			</tr>
			<tr>
				<td colspan="4" class="t_timeline_table_forum_post_gbr">
					<img src="{{forum_post.gambar}}">
				</td>
			</tr><!-- 
			<tr>
				<td colspan="2" class="t_timeline_table_forum_post_bibir">
					<img src="img/lips_full.png" ng-click="like($event, forum_post.idforum_post)">
				</td>
				<td colspan="2" class="rataKanan t_timeline_table_forum_post_statistik" valign="bottom">
					<img src="img/lips_outline.png">&nbsp;<span>{{forum_post.nLike}}</span> <span class="spasi"></span><img src="img/comment_2.png">&nbsp;<span>{{forum_post.nKomentar}}</span>
				</td>
			</tr>
			<tr>
				<td colspan="4" class="t_timeline_table_forum_post_komentar">
					<span class="nama">
						{{forum_post.komentar[0].user.nama}}
					</span>
					<span class="komentar">
						{{forum_post.komentar[0].isiKomentar}}
					</span>
				</td>
			</tr>
			<tr>
				<td colspan="4" class="t_timeline_table_forum_post_komentar">
					<span class="nama">
						{{forum_post.komentar[1].user.nama}}
					</span>
					<span class="komentar">
						{{forum_post.komentar[1].isiKomentar}}
					</span>
				</td>
			</tr>
			</tr> -->
			<tr>
				<td colspan="4" class="t_timeline_table_forum_post_tambah_komentar">
					+ Join Group
				</td>
		</table>
	</div>
	<div scroll style="padding: 20vmin">LOADING</div>
</div>