<style type="text/css">
	@font-face {
	    font-family: 'register_montserrat';
	    src: url(res/font/Montserrat-Regular.otf);
	}
	@font-face {
	    font-family: 'register_montserrat-thin';
	    src: url(res/font/Montserrat-Light.otf);
	}

	input:focus{
		outline: none;
	}

	.register_body{
		background-color: #dd2267;
		font-family: 'register_montserrat';
		margin: 0;
		padding: 0;
		overflow-x: hidden;
		height: 100vh;
	}

	.register_mainInline{
		padding: 0;
		margin: 0;
		width: 100%;
		height: 100vh;
		text-align: center;
	}

	.register_r{
		vertical-align: middle;
		padding-top: 0;
	}

	.register_r .register_c{

	}

	.register_r .register_c img{
		height: 30vw;
		margin-bottom: 8%;
		width: 35vw;
	}

	.register_tblSignup{
		width: 50%;
		padding: 4% 0;
		margin-left: calc(50% - (50% / 2));
		background-color: #efefef;
		border-radius: 2vw;
		color: #dd2267;
		font-size: 4vw;
		background: #efefef;
	}

	.register_tblSignup:active{
		color: #efefef;
		width: calc(50% - (2 * 1px));
		padding: calc(4% - 1px) 0;
		margin-left: calc(50% - (50% / 2));
		border-radius: 2vw;
		border: solid 1px #efefef;
		background: rgba(0, 0, 0, 0);
		font-size: 4vw;
	}

	.register_txtSignup{
		color: #efefef;
		font-size: 3vw;
		margin-bottom: 15%;
		margin-top: 1.5%;
	}

	.register_tblLogin{
		color: #efefef;
		width: calc(50% - (2 * 1px));
		padding: calc(4% - 1px) 0;
		margin-left: calc(50% - (50% / 2));
		border-radius: 2vw;
		border: solid 1px #efefef;
		background: rgba(0, 0, 0, 0);
		font-size: 4vw;
	}

	.register_tblLogin:active{
		width: 50%;
		padding: calc(4% - 1px) 0;
		margin-left: calc(50% - (50% / 2));
		background-color: #efefef;
		border-radius: 2vw;
		color: #dd2267;
		font-size: 4vw;
		background: #efefef;
	}

	.register_signup_text{
		position: absolute;
		right: 7%;
		top: calc(50% - ((32% + 4%) / 2) - 5%);
		transition: .5s;
		opacity: 0;
		font-size: 90%;
		color: #FFF;
		visibility: visible;
	}
	.register_signup_text_show{
		position: absolute;
		right: 7%;
		top: calc(50% - ((32% + 4%) / 2) - 5%);
		transition: .5s;
		opacity: 1;
		color: #FFF;
		visibility: visible;
	}

	.register_popupRegistrasi{
		position: absolute;
		top: calc(50% - ((32% + 4%) / 2));
		left: 4%;

		width: 92%;
		height: 32%;

		padding-top: 2%;

		background-color: #888;
		background-color: #efefef;
		border-radius: 2vw;

		box-shadow: 0 1px 1px #999;

		transition: .5s;
		opacity: 0;
		visibility: hidden;
	}

	.register_popupRegistrasi_show{
		position: absolute;
		top: calc(50% - ((32% + 4%) / 2));
		left: 4%;

		width: 92%;
		height: 32%;

		padding-top: 2%;

		background-color: #888;
		background-color: #efefef;
		border-radius: 2vw;

		box-shadow: 0 1px 1px #999;

		transition: .5s;
		opacity: 1;
		visibility: visible;
	}

	.register_ii{
		height: 20%;
	}

	.register_img{
		width: 4.5%;
		padding: 0 2%;
	}

	.register_img img{
		width: 5vw;
		height: 5vw;
		margin-left: 3vw;
	}

	.register_input{
		text-align: left;
		width: 100%;
		padding: 0 4%;
	}

	.register_input input{
		padding: 2% 0;
		font-size: 4vw;
		height: 100%;
		width: calc(100% - 2 * 2%);
		border: none;
		background-color: rgba(0, 0, 0, 0);
	}

	.register_rgaris{
		height: 1px;
		width: 100%;
	}

	.register_cgaris div{
		height: 1px;
		width: 95%;
		margin-left: calc(50% - (95% / 2));
		background-color: #AAA;
	}

	.register_outBaris td{
		text-align: center;
		border-bottom-left-radius: 2vw;
		border-bottom-right-radius: 2vw;
		font-size: 3.5vw;
		padding: 4%;
	}
	.register_outBaris td:active{
		background-color: #BBB;
	}

	.register_kedaftar_hide{
		color: #FFF;
	}

	.register_kedaftar_show{
		color: #dd2267;
	}
</style>

<div class="register_body">

	<!-- Sign Up, deskripsi, Log In -->
	<table class="register_mainInline register_affect" ng-click="hidePopupRegister()">
		<tr class="register_r">
			<td class="register_c">
				<!-- Gambar Jeng Dixi -->
				<img src="img/Login-+-Sign-up_03.png">

				<!-- Sign Up Button -->
				<div class="register_tblSignup" ng-click="popupRegister()">
					Sign up >
				</div>

				<!-- Sign Up Text (deskripsi) -->
				<div class="register_txtSignup">
					Sign up, it's free!
				</div>

				<!-- Log In Button -->
				<div class="register_tblLogin register_kelogin" ng-click="keLogin()">
					Log in	
				</div>
			</td>
		</tr>
		<tr class="register_faker">
			<td class="register_fakec">
			</td>
		</tr>
	</table>
	<div class="register_signup_text" ng-class="register_class_text_signup">SignUp</div>
	<table class="register_popupRegistrasi" ng-class="register_class_popup_registrasi">
		<!-- Email -->
		<tr class="register_ii">
			<td class="register_img">
				<img src="img/s3.png" />
			</td>
			<td class="register_input">
				<input type="text" placeholder="Email" class="register_indexCekData" ng-model="in_email" ng-change="cekDataSignUp()"/>
			</td>
		</tr>

		<!-- Garis -->
		<tr class="register_rgaris">
			<td class="register_cgaris" colspan="2">
				<div></div>
			</td>
		</tr>

		<!-- Password -->
		<tr class="register_ii">
			<td class="register_img">
				<img src="img/s2.png" />
			</td>
			<td class="register_input">
				<input type="password" placeholder="Password" class="register_indexCekData" ng-model="in_password" ng-change="cekDataSignUp()" />
			</td>
		</tr>

		<!-- Garis -->
		<tr class="register_rgaris">
			<td class="register_cgaris" colspan="2">
				<div></div>
			</td>
		</tr>

		<!-- Re-Password -->
		<tr class="register_ii">
			<td class="register_img">
			</td>
			<td class="register_input">
				<input type="password" placeholder="Re-type password" class="register_indexCekData" ng-model="in_password2" ng-change="cekDataSignUp()" />
			</td>
		</tr>

		<!-- Garis -->
		<tr class="register_rgaris">
			<td class="register_cgaris" colspan="2">
				<div></div>
			</td>
		</tr>

		<!-- No HP -->
		<tr class="register_ii">
			<td class="register_img">
				<img src="img/s1.png" />
			</td>
			<td class="register_input">
				<input type="text" placeholder="+62" value="+62"  class="register_indexOlahNoHP" ng-model="in_noHP" ng-change="cekDataSignUp()" />
			</td>
		</tr>
		<tr class="register_rgaris">
			<td class="register_cgaris" colspan="2">
				<div></div>
			</td>
		</tr>
		<tr class="register_outBaris">
			<td colspan="2" class="register_kedaftar_hide" ng-class="register_class_ok" ng-click="daftarTahap1()">
				{{tombolOk}}
			</td>
		</tr>
	</table>
</div>