<style type="text/css">
	@font-face {
	    font-family: 'montserrat';
	    src: url(res/font/Montserrat-Regular.otf);
	}
	@font-face {
	    font-family: 'montserrat-thin';
	    src: url(res/font/Montserrat-Light.otf);
	}

	input:focus{
		outline: none;
	}

	.login_body{
		width: 100%;
		height: 100vh;
		margin: 0;
		font-family: 'montserrat';
		background-color: #dd2267;
		color: #efefef;
	}

	.login_mainInline{
		height: 100%;
		width: 100%;
	}

	.login_bar{
		width: inherit;
		color: #efefef;
		vertical-align: top;
		font-size: 5vmin;
		height: 5%;
	}

	.login_kembali{
		padding: 2%;
		width: 50%;
		text-align: left;
	}

	.login_tblLogin{
		padding: 2%;
		width: 50%;
		text-align: right;
		color: #aaa;
	}

	.login_tblLogin_show{
		color: #ffffff;
	}

	.login_logo{
		height: 45%;
		vertical-align: middle;
	}

	.login_logo td{
		padding: 5%;
		text-align: center;
	}

	.login_logo td img{
		width: 35vw;
		height: 30vw;
	}

	.login_garis td{
		width: 100%;
		height: 1px;
	}

	.login_divgaris{
		background-color: #BBB;
		height: 1px;
		width: 100%;
	}

	.login_cLogin, .login_cPassword{
		height: 1%;
		width: 100%;
	}

	.login_kotak{
	}

	.login_kembali span img{
		position: absolute;
		height: 7vw;
		margin-top: calc((((2 * 2%) + 4vmin) / 2) - (7vw / 2));
		margin-left: calc((15% / 2) - (7vw / 2));
	}

	.login_kotak img{
		position: absolute;
		margin-top: calc((((2 * 2%) + 4vmin) / 2) - (7vw / 2));
		margin-left: calc((15% / 2) - (7vw / 2));
	}

	.login_kotak img.email_img{
		width: 5.5vw;
		margin-left: calc((15% / 2) - (7vw / 2) + 1vw);
	}

	.login_kotak img.password_img{
		width: 7vw;
		margin-top: 2.5vw;
	}

	.login_kotak input{
		color: #efefef;
		background-color: rgba(0, 0, 0, 0);
		font-size: 4vmin;
		width: calc(100% - (2 * 2% + 15%));
		margin: 0;
		padding: 2%;
		padding-left: 15%;
		border: none;
	}	
</style>

<div class="login_body">
	<table class="login_mainInline">
		<tr class="login_bar">
			<td class="login_kembali login_keindex">
				<span ng-click="kembali()">
					<img src="img/back.png">
				</span>
			</td>
			<td class="login_tblLogin" ng-class="class_login">
				<span ng-click="login()">
					Log in
				</span>
			</td>
		</tr>

		

		<tr class="login_logo">
			<td colspan="2">
				<img src="img/Login-+-Sign-up_03.png">
			</td>
		</tr>
		


		<tr class="login_garis">
			<td colspan="2">
				<div class="divgaris"></div>
			</td>
		</tr>
		

		<tr class="login_cLogin">
			<td class="login_kotak" colspan="2">
				<img src="img/username_fix.png" class="email_img" />	
				<input type="text" placeholder="Email" ng-model="email" ng-change="loginCek()"/>	
			</td>
		</tr>



		<tr class="login_garis">
			<td colspan="2">
				<div class="login_divgaris"></div>
			</td>
		</tr>
		


		<tr class="login_cPassword">
			<td class="login_kotak" colspan="2">
				<img src="img/password_fix.png" class="password_img"/>	
				<input type="password" placeholder="Password" ng-model="password" ng-change="loginCek()"/>	
			</td>
		</tr>
		<tr class="login_garis">
			<td colspan="2">
				<div class="login_divgaris"></div>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				
			</td>
		</tr>
	</table>
</div>