<style type="text/css">
	@font-face {
	    font-family: 'mon';
	    src: url(res/font/Montserrat-Light.otf);
	}

	.body{
		margin: 0;
		font-size: 3vmin;
		font-family: 'mon';
		background-color: #f2f2f2;
		min-height: calc(100vh - 9vmin - 2vmin);
	}

	input:focus, textarea:focus{
		outline: none;
	}

	.content{
		margin-top: 11vmin;
		padding-top: 2vmin;
	}

	.content .section{
	}

	.content .section .section_title{
		font-size: 1.3em;
		margin: 3vmin 3vmin;
	}


	.content .make_a_post{
		
	}

	.content .make_a_post .section_body{
		font-size: 0;
		width: 100vw;
	}

	.content .make_a_post .section_body textarea{
		font-family: 'mon';
		font-size: calc(1.3 * 3vmin);
		width: calc(100vw - 2 * 3vmin);
		min-height: 16vh;
		border: none;
		padding: 3vmin;
		color: #000;
		background-color: #FFF;
	}

	.content .post-attr{
		width: 100vw;
		background-color: #FFF;
	}

	.content .post-attr img{
		height: 5vmin;
		padding: 3vmin;
	}

	.post-button{
		width: 100vw;
	}


	.post-button .button{
		margin: 3vmin;
		padding: 2vmin 6vmin;
		background-color: #dd2267;
		border-radius: 1vmin;
		color: #FFF;
		font-size: 1.3em;
		float: right;
	}
</style>

<div class="body">
	<div class="content">
		<div class="section make_a_post">
			<div class="section_title">
				Make a post
			</div>
			<div class="section_body">
				<textarea ng-model="isiStatus"></textarea>
			</div>
		</div>
		<div class="post-attr">
			<img src="img/photos.png" />
			<img src="img/emoticon.png" />
			<img src="img/location_1.png" />
			<img src="img/link_1.png" />
		</div>
	</div>
	<div class="post-button">
		<div class="button" ng-click="postStatus()">
			Post		
		</div>
	</div>
</div>