<style type="text/css">
	@font-face {
	    font-family: 'mon';
	    src: url(res/font/Montserrat-Light.otf);
	}

	.body{
		margin: 0;
		font-size: 3vmin;
		font-family: 'mon';
		background-color: #f2f2f2;
	}

	input:focus{
		outline: none;
	}

	.content{
		margin-top: 11vmin;
		padding-top: 2vmin;
	}

	.content .section{
	}

	.content .section .section_title{
		font-size: 1.3em;
		margin: 3vmin 3vmin;
	}


	.content .search{
		margin-left: 3vmin;
		width: calc(100vw - 3vmin);
		padding-top: calc(3vmin + 2vmin);
	}

	.content .search .section_body{
	}

	.content .search .section_body{
		display: table;
	}

	.content .search .section_body div{
		display: table-cell;
		vertical-align: middle;
	}

	.content .search .section_body div img{
		width: 5vmin;
		height: 5vmin;
	}

	.content .search .section_body div input{
		border: none;
		background-color: #f2f2f2;
		margin-left: 1.5vmin;
		font-size: 1.4em;
		width: 80vmin;
	}




	.content .product_this_week{
		
	}

	.content .product_this_week .section_body{
		font-size: 0;
		width: 100vw;
	}

	.content .product_this_week .section_body img{
	  	object-fit: cover;
		height: 40vw;
	}

	.content .product_this_week .section_body img.gbr1{
		background-color: #999;
		width: 38vw;
		margin-right: 2vw;
	}

	.content .product_this_week .section_body img.gbr2{
		background-color: #999;
		width: 60vw;
	}



	.content .popularity{
	}

	.content .popularity .section_body{
		font-size: 0;
		width: 100vw;
	}

	.content .popularity .section_body img{
	  	object-fit: cover;
		background-color: #999;
		height: 40vw;
	}

	.content .popularity .section_body img.gbr3{
		width: 32vw;
		margin-right: 2vw;
	}

	.content .popularity .section_body img.gbr4{
		width: 32vw;
		margin-right: 2vw;
	}

	.content .popularity .section_body img.gbr5{
		width: 32vw;
	}

	.content .popularity .section_footer{
		font-size: 0;
		width: 100vw;
	}

	.content .popularity .section_footer img{
	  	object-fit: cover;
	  	object-position: top;
		background-color: #999;
		margin-top: 2vw;
		width: 100vw;
		height: 20vw;
	}

	.content .popularity .section_footer div.diskon{
		color: white;
		position: absolute;
		font-size: 9vmin;
		width: 15vmin;
		margin-top: calc(-20vw + 5vw);
		left: 5vmin;
		z-index: 20;
	}



	.content .category{
	}

	.content .category .section_body{
	}

	.content .category .section_body div{
	}

	.content .category .section_body div ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	.content .category .section_body div ul li{
		display: inline;
	}
</style>

<div class="body">
	<div class="content">
		<div class="section product_this_week">
			<div class="section_title">
				Product This Week
			</div>
			<div class="section_body">
				<!-- FAKE -->
				<img src="img/1.jpg" class="gbr1">
				<img src="img/2.jpg" class="gbr2">
			</div>
		</div>
	</div>
</div>