<style type="text/css">
	@font-face {
	    font-family: 'chatPrivate_montserrat';
	    src: url(res/font/Montserrat-Regular.otf);
	}
	@font-face {
	    font-family: 'chatPrivate_montserrat-thin';
	    src: url(res/font/Montserrat-Light.otf);
	}

	input:focus{
		outline: none;
	}

	.chatPrivate_body{
		font-family: 'chatPrivate_montserrat-thin';
		width: 100vw;
		min-height: 90vh;
		padding: 0;
		margin: 0;
		background: #EEE;
		padding-top: 12vmin;
	}

	.chatPrivate_table{
		width: 100vw;
		border-collapse: collapse;
	}

	tr, td{
		padding: 0;
		margin: 0;
	}

	.rataKiri{
		text-align: left;
	}

	.rataKanan{
		text-align: right;
	}

	.rataTengah{
		text-align: center;
	}

	.rataTengahV{
		vertical-align: middle;
	}

	.rataAtasV{
		vertical-align: top;
	}

	.rataBawahV{
		vertical-align: bottom;
	}

	/* BAR OPSI (FLOAT) */
	.chatPrivate_bar_opsi{
		margin-top: -.5%;
		background: #FFF;
		position: fixed;
		display: table;
		width: calc(100% - 2 * 10%);
		padding: 2.5% 12%;
		box-shadow: 0 5px 5px rgba(150, 150, 150, .3);
	}

    .chatPrivate_bar_opsi-trans-hide{
    	display: none;
    }

	.chatPrivate_bar_opsi .opsi{
		display: table-cell;
		width: 20%;
		text-align: center;
	}

	.chatPrivate_bar_opsi .opsi img.album{
		width: 25%;
	}

	.chatPrivate_bar_opsi .opsi img{
		width: 20%;
	}

	.chatPrivate_bar_opsi .opsi span{
		font-size: 2.2vmin;
	}


	/* CHAT FACTORY (NG_REPEAT) */
	.chatPrivate_data_chat_factory{
		width: 100%;
		padding: 15% 0;
	}

	/* TEMPLATE CHAT LIST */
	.chatPrivate_data_chat_factory table{
		border-collapse: collapse;
		table-layout: fixed;
		margin: 4% 2%;
		width: calc(100% - 2 * 2%);
	}

	/* TEMPLATE DATA CHAT LIST */
	.chatPrivate_data_chat_factory table .data_chat{
		font-size: 3vmin;
		width: 100%;
	}


	/* TEKS CHAT */
	.chatPrivate_data_chat_factory table .data_chat .teks{
		text-align: left;
		word-wrap: break-word;
		vertical-align: bottom;
		padding: 2%;
		max-width: 70%;
		box-shadow: 2px 2px 2px #BBB;
	}

	/** --------- **/
	/** CHAT KIRI **/
	/** --------- **/
	/* TD GAMBAR PROFIL CHAT KIRI (LAWAN CHAT) */
	.chatPrivate_data_chat_factory table .data_chat .img{
		width: 12%;
		padding-right: 2%;
		vertical-align: top;
	}

	/* GAMBAR PROFIL CHAT KIRI (LAWAN CHAT) */
	.chatPrivate_data_chat_factory table .data_chat .img img{
		width: 100%;
		border-radius: 50%;
	}

	/* TANDA WAKTU CHAT KIRI (LAWAN CHAT) */
	.chatPrivate_data_chat_factory table .data_chat .read_waktu_kanan{
		font-size: 2.5vmin;
		text-align: left;
		vertical-align: bottom;
		width: 30%;
		padding: 2%;
		padding-bottom: 0;
		color: #424242;
	}

	/* PENGATURAN BORDER RADIUS DAN WARNA LATAR CHAT KIRI (LAWAN CHAT) */
	.chatPrivate_data_chat_factory table .data_chat .teks_kanan{
		border-radius: 0 1vmin 1vmin 1vmin;
		background: #FFF;
	}


	/** ---------- **/
	/** CHAT KANAN **/
	/** ---------- **/
	/* TANDA WAKTU CHAT KANAN */
	.chatPrivate_data_chat_factory table .data_chat .read_waktu_kiri{
		font-size: 2.5vmin;
		text-align: right;
		vertical-align: bottom;
		min-width: 30%;
		padding: 2%;
		padding-bottom: 0;
		color: #424242;
	}

	/* PENGATURAN BORDER RADIUS DAN WARNA LATAR CHAT KANAN */
	.chatPrivate_data_chat_factory table .data_chat .teks_kiri{
		border-radius: 1vmin 0 1vmin 1vmin;
		background: #DDFFEE;
		text-align: right;
	}


	/* CHAT BLOCKED */
	.chatPrivate_blocked{
		color: #777;
		text-align: center;
		font-size: 3vmin;
		margin-top: -15%;
		padding-bottom: 15%;
	}

	/* BAR BAWAH CHAT */
	.chatPrivate_bar_bawah{
		width: 100%;
		background: #FFF;
		position: fixed;
		bottom: 0;
		border-collapse: collapse;
	}

	/* BAR BAWAH CHAT */
	.chatPrivate_bar_bawah .input_pesan{
		width: 100%;
		vertical-align: middle;
	}

	/* BAR BAWAH CHAT TD */
	.chatPrivate_bar_bawah .input_pesan td{
		height: 8%;
	}

	/* BAR BAWAH CHAT INPUT TEKS */
	.chatPrivate_bar_bawah .input_pesan td input{
		width: calc(100% - 2 * 2%);
		border: none;
		padding: 4% 2%;
		margin: 0;
		font-size: 4vmin;
	}

	/* BAR BAWAH CHAT KIRIM */
	.chatPrivate_bar_bawah .input_pesan .kirim{
		padding: 0 1%;
		width: 8%;
		background: #999;
	}

	/* BAR BAWAH CHAT INPUT PESAN */
	.chatPrivate_bar_bawah .input_pesan .input{
		width: 70%;
	}

	/* BAR BAWAH CHAT STIKER + ADD OPTION */
	.chatPrivate_bar_bawah .input_pesan .img{
		width: 20%;
	}

	/* BAR BAWAH CHAT IMAGE SETTING */
	.chatPrivate_bar_bawah .input_pesan td img{
		padding: 9% 5%;
		height: 6vmin;
	}

</style>

<div class="chatPrivate_body">
	<div class="chatPrivate_bar_opsi" ng-class="class_bar_opsi_chat">
		<div class="opsi">
			<img src="img/album.png" class="album"/><br/>
			<span>Album</span>
		</div>
		<div class="opsi">
			<img src="img/mute.png" /><br/>
			<span>Mute</span>
		</div>
		<div class="opsi">
			<img src="img/block.png" /><br/>
			<span>Unblock</span>
		</div>
		<div class="opsi">
			<img src="img/Invite to.png" /><br/>
			<span>Invite to</span>
		</div>
	</div>
	<div class="chatPrivate_data_chat_factory" schroll-bottom="dataPesan">
		<div ng-repeat="pesan in dataPesan">
			<table ng-if="pesanKiri(pesan.usernamePengirim)">
				<tr class="data_chat">
					<td class="img">
						<img src="{{ ambilGambar() }}">
					</td>
					<td class="teks teks_kanan">
						{{ pesan.isiPesan }}
					</td>
					<td class="read_waktu_kanan">
						<span class="waktu">{{ ambilWaktuPesan(pesan.tanggal) }}</span>
					</td>
				</tr>
			</table>
			<table ng-if="!pesanKiri(pesan.usernamePengirim)">
				<tr class="data_chat">
					<td class="read_waktu_kiri">
						<span class="read" ng-if="pesan.read">Read</span><br/>
						<span class="waktu">{{ ambilWaktuPesan(pesan.tanggal) }}</span>
					</td>
					<td class="teks teks_kiri">
						{{ pesan.isiPesan }}
					</td>
				</tr>
			</table>
		</div>
		<div id="bottomPC"></div>
	</div>
	<!--
	<div class="chatPrivate_blocked">You've been blocked</div>
	-->
	<table class="chatPrivate_bar_bawah">
		<tr class="input_pesan">
			<td class="img">
				<img src="img/plus.png">
				<img src="img/emoticon_2.png">
			</td>
			<td class="input">
				<input type="text" ng-model="_pesan_" id="inputFokus"/>	
			</td>
			<td class="kirim" ng-click="kirimPesan(_pesan_)">
				<img src="img/Verifikasi_03.png">
			</td>
		</div>
	</div>
</div>