<style type="text/css">
	@font-face {
	    font-family: 'register2_montserrat';
	    src: url(res/font/Montserrat-Regular.otf);
	}
	@font-face {
	    font-family: 'register2_montserrat-thin';
	    src: url(res/font/Montserrat-Light.otf);
	}


	input:focus{
		outline: none;
	}

	.register2_body{
		margin: 0;
		font-family: 'register2_montserrat-thin';
		background-color: #dd2267;
		width: 100%;
		height: 100%;
	}

	.register2_container{
		width: 100%;
		height: 100vh;
		text-align: center;
		vertical-align: middle;
	}

	.register2_mainInline{
		background-color: #efefef;
		width: 90%;
		height: 70%;
		margin-left: 5%;
		box-shadow: 0 2px 2px #BbB;
		border-radius: 2vw;
	}

	.register2_mainInline .register2_lingkaranBesar{
		width: 100%;
		text-align: center;
	}

	.register2_mainInline .register2_lingkaranBesar img.register2_temp{
		margin: 5%;
		width: 30vw; 
		height: 30vw; /* height */ 
		text-align: center;
	}

	.register2_lingkaranKecil{
		position: absolute;
		width: 7vw;
		height: 7vw;
		margin-top: calc(30vw + 5% - 9%);
		margin-left: calc(30vw + 5% - 9%);
	}

	.register2_mainInline .register2_input{
		width: 100%;
		height: 10%;
		text-align: center;
	}

	.register2_mainInline .register2_input input{
		font-size: 4.5vw; /* height */ 
		width: 60%;
		border: none;
		padding: 2% 0; /* height x2 */ 
		background-color: rgba(0, 0, 0, 0);
		border-bottom: solid 1px #CCC;
		text-align: center;
	}

	.register2_warnaA{
		color: #dd2267;
	}

	.register2_warnaB{
		color: #777;
	}

	.register2_required_warning{
		width: 80%;
		color: #dd2267;
		text-align: right;
		font-size: 2.7vmin;
		padding-top: 2px;
		padding-right: 20%;
	}

	.register2_mainInline .register2_jk{
		width: 100%;
		text-align: center;
	}

	.register2_mainInline .register2_jk td{
		width: 50%;
	}

	.register2_mainInline .register2_jk td.register2_jkL{
		text-align: right;
	}

	.register2_mainInline .register2_jk td.register2_pemisah{
		width: 1px;
		border-left: none;
		background-color: #ccc;
	}

	.register2_mainInline .register2_jk td.register2_jkP{
		text-align: left;
	}

	.register2_mainInline .register2_jk td img{
		height: 11vw; /* height */ 
		padding: 5% 20%; /* height x2 */
		padding-bottom: 0;
	}

	.register2_mainInline .register2_tblSignIn{
		text-align: center;
		color: #dd2267;
		font-size: 4.8vw;
	}

	.register2_mainInline .register2_tblSignIn:active{
		text-align: center;
		background-color: #fff;
		font-size: 4.8vw;
	}

	.register2_mainInline .register2_tblSignIn td{
		padding: 6%; /* height x2*/
	}

	#register2_warning_jk{
		position: absolute;
		right: 0;
		width: 100%;
	}
</style>
<div class="register2_body">
	<table class="register2_container">
		<tr>
			<td>
				<table class="register2_mainInline">
					<tr class="register2_lingkaranBesar">
						<td colspan="3">
							<img class="register2_lingkaranKecil" src="img/Registrasi_06.png">
							<img class="register2_temp" src="img/Registrasi_03.png" />
						</td>
					</tr>
					<tr class="register2_input">
						<td colspan="3">
							<input type="text" placeholder="First Name" class="register2_warnaB" ng-model="in_namaDepan" ng-change="cekDataReg2()" /><br/>
							<div class="register2_required_warning">{{ warning }}</div>
						</td>
					</tr>
					<tr class="register2_input">
						<td colspan="3">
							<input type="text" placeholder="Last Name" class="register2_warnaB" ng-model="in_namaBelakang" />
						</td>
					</tr>
					<tr class="register2_jk">
						<td class="register2_jkL register2_registrasiPilihJK1">
							<img ng-src="{{gbrCowo}}" ng-click="pilihCowo()">
						</td>
						<td class="register2_pemisah">
							
						</td>
						<td class="register2_jkP register2_registrasiPilihJK0">
							<img ng-src="{{gbrCewe}}" ng-click="pilihCewe()">
						</td>
					</tr>
					<tr>
						<td id="register2_warning_jk" colspan="3">
							<div class="register2_required_warning">{{ warningJK }}</div>
						</td>
					</tr>
							
					<tr class="register2_tblSignIn register2_selesaiDaftar" ng-click="daftarTahap2()">
						<td colspan="3">
							{{tombolSignIn}}
						</td>
					</tr>
				</table>	
			</td>
		</tr>
	</table>
</div>