<style type="text/css">	
	@font-face {
	    font-family: 'timeline_montserrat';
	    src: url(res/font/Montserrat-Regular.otf);
	}
	@font-face {
	    font-family: 'timeline_montserrat-thin';
	    src: url(res/font/Montserrat-Light.otf);
	}

	input:focus{
		outline: none;
	}

	.timeline_body{
		font-family: 'timeline_montserrat-thin';
		width: 100vw;
		padding: 0;
		margin: 0;
		background: #EEE;
		padding-top: 11.5vmin;
		font-size: 3vmin;
	}

	.timeline_refresh{
		background: #CCC;
		padding: 20vmin;
		width: calc(100% - 2 * 20vmin);
		text-align: center;
	}

	.timeline_table{
		width: 100vw;
		border-collapse: collapse;
	}

	tr, td{
		padding: 0;
		margin: 0;
	}

	.rataKiri{
		text-align: left;
	}

	.rataKanan{
		text-align: right;
	}

	.rataTengah{
		text-align: center;
	}

	.rataTengahV{
		vertical-align: middle;
	}

	.rataAtasV{
		vertical-align: top;
	}

	.rataBawahV{
		vertical-align: bottom;
	}

	.t_timeline_table{
		margin-bottom: 2vmin;
		background: #FFF;
		font-size: 3vmin;
	}

	.t_timeline_table_gambarpp{
		width: 10vmin;
		height: 10vmin;
		padding-left: 4vmin;
		padding-top: 4vmin;
	}

	.t_timeline_table_gambarpp img{
		width: 10vmin;
		height: 10vmin;
		border-radius: 50%;
	}

	.t_timeline_table_nama{
		width: calc(50vw - 10vmin);
		padding-top: 4vmin;
		padding-left: 2vmin;
	}

	.t_timeline_table_nama .nama{
		font-weight: bold;
	}

	.t_timeline_table_nama .lokasi{
		font-weight: bold;
		color: #dd2267;
	}

	.t_timeline_table_status{
		width: calc(100vw - 8vmin);
		padding: 2vmin 4vmin;
	}

	.t_timeline_table_waktu{
		width: calc(50vw - 10vmin + 4vmin);
		padding-top: 4vmin;
	}

	.t_timeline_table_opsistatus{
		width: 10vmin;
		padding-top: 4vmin;
		padding-right: 4vmin;
	}

	.t_timeline_table_opsistatus img{
		height: 6vmin;
	}

	.t_timeline_table_status_gbr{
		width: 100vw;
	}

	.t_timeline_table_status_gbr img{
		width: 100vw;
	}

	.t_timeline_table_status_bibir{
		width: calc(50vw - 4vmin);
		padding-left: 4vmin;
		padding-top: 2vmin;
		padding-bottom: 2vmin;
	}

	.t_timeline_table_status_bibir img{
		width: 7vmin;
	}

	.t_timeline_table_status_statistik{
		width: calc(50vw - 4vmin);
		padding-right: 4vmin;
		padding-top: 2vmin;
		padding-bottom: 2vmin;
		vertical-align: middle;
	}
	.t_timeline_table_status_statistik .spasi{
		padding: 0 1vmin;
	}

	.t_timeline_table_status_statistik img{
		width: 4.5vmin;
	}

	.t_timeline_table_status_statistik span{
		height: 12px;
	}

	.t_timeline_table_status_komentar{
		padding: .2vmin 4vmin;
	}

	.t_timeline_table_status_komentar .nama{
		color: #dd2267;
	}

	.t_timeline_table_status_tambah_komentar{
		padding: 1vmin 4vmin;
		padding-top: 4vmin;
		padding-bottom: 4vmin;
	}

	.t_timeline_table_status_tambah_komentar input{
		padding: 1vmin;
		width: calc(100vw - 2vmin - 8vmin);
		border: none;
	}
</style>

<div  ng-class="timeline_loading">
	<div class='uil-ripple-css' style='transform:scale(0.53);'><div></div><div></div></div>	
</div>
<div class="timeline_body">
	<div class="timeline_refresh" hidden>
		Refreshing...
	</div>
	<div>
		<!-- ZZZ -->
		<table class="timeline_table t_timeline_table">
			<tr>
				<td class="t_timeline_table_gambarpp" ng-click="keProfile(status.user.nama)">
					<img src="{{status.UrlProfilPic}}">
				</td>
				<td class="rataTengahV t_timeline_table_nama">
					<div class="nama" ng-click="keProfile(status.user.nama)">
						{{status.nama}}
					</div>
					<div class="lokasi">
						{{status.lokasi}}
					</div>
				</td>
				<td class="rataKanan rataTengahV t_timeline_table_waktu">
					<div class="jam">
						{{ getTime(status.tanggal) }}
					</div>
					<div class="tanggal">
						{{ getDate(status.tanggal) }}
					</div>
				</td>
				<td class="rataKanan t_timeline_table_opsistatus">
					<img src="img/td.png">
				</td>
			</tr>
			<tr>
				<td colspan="4" class="rataAtasV t_timeline_table_status">
					{{status.isiStatus}}
				</td>
			</tr>
			<tr>
				<td colspan="4" class="t_timeline_table_status_gbr">
					<img src="{{status.gambar}}">
				</td>
			</tr>
			<tr>
				<td colspan="2" class="t_timeline_table_status_bibir">
					<img src="{{ getIconLike(status.like) }}" ng-click="like(status.idStatus)">
				</td>
				<td colspan="2" class="rataKanan t_timeline_table_status_statistik" valign="bottom">
					<img src="img/lips_outline.png">&nbsp;<span>{{status.nLike}}</span> <span class="spasi"></span><img src="img/comment_2.png">&nbsp;<span>{{status.nKomentar}}</span>
				</td>
			</tr>
			<tr>
				<td colspan="4">
					<table ng-repeat="komen in dataKomentar">
						<tr>
							<td class="t_timeline_table_status_komentar">
								<span class="nama">
									{{komen.nama}}
								</span>
								<span class="komentar">
									{{komen.isiKomentar}}
								</span>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="4" class="t_timeline_table_status_tambah_komentar">
					<input type="text" placeholder="Add a comment" ng-model="in_komentar" />
				</td>
			</tr>
			<tr>
				<td colspan="4" class="t_timeline_table_status_tambah_komentar">
					<input type="button" value="Kirim" ng-click="kirimKomentar(status.idStatus)" />
				</td>
			</tr>
		</table>
	</div>
	<!-- <div scroll style="padding: 20vmin">LOADING</div> -->
</div>