<style type="text/css">
	@font-face {
	    font-family: 'verifikasi_montserrat-thin';
	    src: url(res/font/Montserrat-Light.otf);
	}

	input:focus{
		outline: none;
	}

	.verifikasi_mainInline{
		overflow-x: hidden;
		margin: 0;
		font-family: 'verifikasi_montserrat-thin';
		background-color: #dd2267;
		color: #efefef;
		height: 100vh;
		width: 100vw;
		display: table;
	}

	.verifikasi_lineBlack{
		position: absolute;
		top: 0;
		height: 5vmin;
		width: inherit;
		background-color: #000000;
	}
	.verifikasi_mainContainer{
		text-align: center;
		height: 100%;
		display: table-cell;
		vertical-align: middle;
	}

	.verifikasi_imgJD img{
		top: calc(100% - (35% / 2));
		height: 35%;
	}


	.verifikasi_teksBesar{
		margin-top: 6vmin;
		font-size: 5vmin;
	}

	.verifikasi_teksKecil{
		margin-top: 7vmin;
		font-size: 3.5vmin;
	}
</style>
<div  id="loading" class="verifikasi_loading">
	<div class='uil-ripple-css' style='transform:scale(0.53);'><div></div><div></div></div>	
</div>
<div class="verifikasi_mainInline">
	<div class="verifikasi_mainContainer">
		<div class="verifikasi_imgJD">
			<img src="img/Verifikasi_03.png">
		</div>
		<div class="verifikasi_teksBesar">
			Sending Verification<br/>
			Code!
		</div>
		<div class="verifikasi_teksKecil">
			Please kindly check your Inbox :)
		</div>
	</div>
</div>